/*
    Theme Name: AutoShowroom Children Theme
    Theme URI: http://templaza.com
    Author: Templaza
    Author URI: http://templaza.com
    Version: 1.0
    Description: AutoShowroom – AutoShowroom WordPress Theme – comes out with tons of powerful features including drag&drop content with Visual Composer, responsive sliders, custom styling and color and various versions. Its modern, attractive and clean design, accompanying with taking advantages of WooCommerce, WPML plugin and built-in shortcode collection will be right tool for you to make your website unique.
    License: GNU General Public License v2 or later
    License URI: http://www.gnu.org/licenses/gpl-2.0.html
    Tags: one-column, two-columns, three-columns, four-columns, right-sidebar, custom-menu, featured-images, full-width-template, theme-options
    Template: autoshowroom
*/
@import url("../autoshowroom/style.css");

.eq-list div.su-list {
	width: 50%;
	float: left;
}

.vehicle-detail .vehicle-content h3 {
	float: left;
	clear: both;
}

.vehicle-detail .vehicle-content p,
.vehicle-detail .vehicle-content ol {
	clear: both;
}

.single-vehicle .vehicle-grid .Vehicle-Feature-Image a,
.post-type-archive-vehicle .vehicle-grid .Vehicle-Feature-Image a,
.post-type-archive-vehicle .vehicle-layout-list .vehicle-grid .Vehicle-Feature-Image a {
	display: block;
	background-size: cover;
	background-position: center center;
}

.single-vehicle .vehicle-grid .Vehicle-Feature-Image a,
.post-type-archive-vehicle .vehicle-grid .Vehicle-Feature-Image a {
	height: 160px;
}

.post-type-archive-vehicle .vehicle-layout-list .vehicle-grid .Vehicle-Feature-Image a {
	height: 180px;
}
